# Created by .ignore support plugin (hsz.mobi)
.idea/

# Exlude any uncaught system files
Icon?
Icon

# Exclude output files
output.csv
component_fnames.csv
output.txt
*.json

# Exclude conf files
config.yml
